@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Helvetica Neue',
                 'Arial',
                 'Hiragino Sans',
                 'BIZ UDPGothic',
                 'Meiryo',
                 sans-serif;
  }
}

/*
 * Customed Common Styles
 * prefix: ctw-
 */

.ctw-scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ctw-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
